/*-----------------------------------------------------------------
    Global aspx page CSS
    
    Used: Everywhere
*/
:root {
    --main-color: #FF494F;
    --second-color: whitesmoke;
    --background-color: rgb(236, 236, 236);
    --text-color1: rgb(78, 78, 78);
    --text-color2: rgb(255, 255, 255);
    --font-normal: 100%;
    --font-big: 150%;
    --font-bigger: 175%;
    --font-biggest: 200%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--second-color);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    font-weight: 300;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height:100%;
    overflow-y: scroll;
    overflow-x:hidden;
    box-sizing: border-box;
    padding: 3px 3px 3px 3px;
    border-radius: 10px;
    border: 1px solid rgb(177, 177, 177);
}

.center_text {
    text-align: center;
}

#Errors{
    color:red;
}

#Successes {
    color: green;
}

/*
    End global css
----------------------------------------------------------------*/







/*----------------------------------------------------------------
    CSS for master_form

    Used: In all pages that inherit from masterpage
*/
.master_form {
    height: 100%;
    text-align: center;
}

.master_form input {
    width: 100%;
    color: var(--text-color1);
    font-size: var(--font-normal);
}

.master_form input[type="text"] {
    border: none;
    border-bottom: 1px solid var(--text-color1);
    background: transparent;
    outline: none;
    color: var(--text-color1);
    font-size: var(--font-normal);
    margin-bottom:5%;
}

.master_form a {
    margin-top:5%;
    text-decoration: none;
    font-size: var(--font-normal);
    text-align:center;
    color: var(--text-color1);
}

.master_form p {
    margin-top:5%;
    text-decoration: none;
    font-size: var(--font-big);
    text-align:center;
    color: var(--text-color1);
}

.master_form h2
{
    text-align: center;
    font-size: var(--font-bigger);
}

.master_form h1
{
    text-align: center;
    font-size: var(--font-biggest);
}

.master_form button {
    border: none;
    outline: none;
    background: var(--main-color);
    color: #fff;
    font-size: var(--font-big);
    border-radius: 10px;
    margin:10px;
}
.generic_asp_button {
    border: none;
    outline: none;
    background: var(--main-color);
    color: #fff;
    font-size: var(--font-big);
    border-radius: 10px;
    margin: 10px auto;
}
/*
    End css for generic forms
----------------------------------------------------------------*/

/*----------------------------------------------------------------
    CSS for generic navigation pages

    Used: For pages where the primary function is to navigate users between other pages
        - HomePage.aspx
        - Account.aspx
*/
.generic_navigation_box {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.generic_navigation_box_option {

    /*Height should be changed in aspx code depending
        on number of nav boxes*/
    height: 50%;

    flex-grow: 1;
    display: table;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    justify-content: center;
    background: var(--main-color);
    color: var(--text-color2);
    margin-top: 5px;
    margin-bottom: 5px;
}
.generic_navigation_box_option a {
     display:table-cell;
     vertical-align: middle;
     text-align: center;
     font-size: var(--large-font);
}
/*
    End css for generic navigation pages
----------------------------------------------------------------*/




/*----------------------------------------------------------------
    CSS for query boxes

    Used: Where users can modify the way in which results are displayed
        - Eat/Food.aspx

    Notes: May add to Account/Meals.aspx & Account/Orders.aspx
*/
.query-box{
    border-radius: 5px;
    width: 25%;
    background: var(--second-color);
    color: var(--text-color1);
    top: 50%;
    left: 22%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border: 1px solid rgb(177, 177, 177);
}

.query-box .contents input{
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    width:70%;
    padding-left: 10px;
}

.query-box .contents input[type="range"]{
    position: relative;
    top:9px;
    width:50%;
}

.query-box .contents p{
    text-align: center;
}

.query-box .contents{
    margin:10px;
}
/*
    End css for query boxes
----------------------------------------------------------------*/